<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eunice_task_II</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
  <body>
    <form action="/" method="post">
      <div id="container__1">
        <div>
          <h1>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="logo" width="300" height="100">
          </h1>
        </div>
        <div>
          <button id="btn_1">
            <img src="https://www.freeiconspng.com/uploads/refresh-icon-25.png" alt="poke-symbol" width="20" height="20">
            Surprise!
          </button>
          <button id="btn_1">
            <img src="https://cdn.pixabay.com/photo/2019/11/27/14/06/pokemon-4657023_960_720.png" alt="poke-symbol" width="20" height="20">
            Lowest number
          </button>
        </div>
      </div>
      <div id="container__2">
        <table id="myTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number</th>
              <th>Base experience</th>
              <th>Height</th>
            </tr>
          </thead>
          <tbody id="pokeData">
            <tr>
              <td>
                <% countData["results"].forEach(function(Pokemon) { %>
                  <li><%= Pokemon["name"] %> - <%= Pokemon["url"] %></li>
                <% }) %>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
    </form>
    <script src="main.js"></script>
  </body>
</html>