<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eunice_task_II</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
  <body>
    <form action="/" method="post">
      <div id="container__1">
        <div>
          <h1>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="logo" width="300" height="100">
          </h1>
        </div>
        </div>
      <div id="container__2">
        <h1>Name - URL</h1>
        <div id="mainData">      
          <% countData["results"].forEach(function(Pokemon) { %>
            <li><%= Pokemon["name"] %> - <%= Pokemon["url"] %></li>
          <% }) %>
        </div>
        <p id="selected_poke"></p>
      </div>
      <br>
      <div>
        <input type="text" id="searchPoke" placeholder="search pokemon" name="search">
        <br>
        <button id="clickMe">Submit</button>
      </div>
      <div id="name"></div>
    </form>
    <script src="main.js"></script>
  </body>
</html>