<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eunice_task_II</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
  <body>
    <form action="/" method="post">
      <div id="container__1">
        <div>
          <h1>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="logo" width="300" height="100">
          </h1>
        </div>
        <div>
          <button id="btn_1">
            <img src="https://www.freeiconspng.com/uploads/refresh-icon-25.png" alt="poke-symbol" width="20" height="20">
            Surprise!
          </button>
          <button id="btn_1">
            <img src="https://cdn.pixabay.com/photo/2019/11/27/14/06/pokemon-4657023_960_720.png" alt="poke-symbol" width="20" height="20">
            Lowest number
          </button>
        </div>
      </div>
      <div id="container__2">
        <div>
          <h3>
            Bulbasaur
          </h3>
          <p>#001</p>
          <ul>
            <li>Grass</li>
            <li>Poison</li>
          </ul>
        </div>
        <div>
          <h3>
            Ivysaur
          </h3>
          <p>#002</p>
          <ul>
            <li>Grass</li>
            <li>Poison</li>
          </ul>
        </div>
        <div>
          <h3>
            Venusaur            
          </h3>
          <p>#003</p>
          <ul>
            <li>Grass</li>
            <li>Poison</li>
          </ul>
        </div>
        <div>
          <h3>
            Charmander
          </h3>
          <p>#004</p>
          <ul>
            <li>fire</li>
          </ul>
        </div>
        <div>
          <h3>
            Charmeleon
          </h3>
          <p>#005</p>
          <ul>
            <li>fire</li>
          </ul>
        </div>
        <div>
          <h3>
            Charizard
          </h3>
          <p>#006</p>
          <ul>
            <li>fire</li>
            <li>flying</li>
          </ul>
        </div>
        <div>
          <h3>
            Squirtle
          </h3>
          <p>#007</p>
          <ul>
            <li>Water</li>
          </ul>
        </div>
        <div>
          <h3>
            Wartortle
          </h3>
          <p>#008</p>
          <ul>
            <li>Water</li>
          </ul>
        </div>
        <div>
          <h3>
            Blastoise
          </h3>
          <p>#009</p>
          <ul>
            <li>Water</li>
          </ul>
        </div>
        <div>
          <h3>
            Caterpie
          </h3>
          <p>#0010</p>
          <ul>
            <li>Bug</li>
          </ul>
        </div>
        <div>
          <h3>
            Metapod
          </h3>
          <p>#0011</p>
          <ul>
            <li>bug</li>
          </ul>
        </div>
        <div>
          <h3>
            Butterfree
          </h3>
          <p>#0012</p>
          <ul>
            <li>Bug</li>
            <li>flying</li>
          </ul>
        </div>
        <div>
          <h3>
            Weedle
          </h3>
          <p>#0013</p>
          <ul>
            <li>bug</li>
            <li>poison</li>
          </ul>
        </div>
        <div>
          <h3>
            Kakuna
          </h3>
          <p>#0014</p>
          <ul>
            <li>bug</li>
            <li>poison</li>
          </ul>
        </div>
        <div>
          <h3>
            Beeddrill
          </h3>
          <p>#0015</p>
          <ul>
            <li>bug</li>
            <li>poison</li>
          </ul>
        </div>
        <div>
          <h3>
            Pidgey
          </h3>
          <p>#0016</p>
          <ul>
            <li>normal</li>
            <li>flying</li>
          </ul>
        </div>
        <div>
          <h3>
            Pidgeotto
          </h3>
          <p>#0017</p>
          <ul>
            <li>normal</li>
            <li>flying</li>
          </ul>
        </div>
        <div>
          <h3>
            Pidgeot
          </h3>
          <p>#0018</p>
          <ul>
            <li>normal</li>
            <li>flying</li>
          </ul>
        </div>
        <div>
          <h3>
            Rattata
          </h3>
          <p>#0019</p>
          <ul>
            <li>normal</li>
          </ul>
        </div>
        <div>
          <h3>
            Raticate
          </h3>
          <p>#0020</p>
          <ul>
            <li>normal</li>
          </ul>
        </div>
    </form>
    <script src="main.js"></script>
  </body>
</html>