<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eunice_TaskII</title>
</head>
<body>
    <h1>Bulbasaur content</h1>
    <% results["abilities"].forEach(function(pokeInfo){%>
        <li><%= pokeInfo["name"] %></li>
        <% }) %>
</body>
</html>

<!-- ["abilities"][0]["name"][2]["base_experience"][0]["game_indices"][0]["game_index"] -->